* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 47px 0 0 42px;
}

a {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #17233d;
    text-decoration: none;
    margin: 0 32px 0 0;
}

.meu-botao {
    width: 124px;
    height: 51px;
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFFFFF;
    cursor: pointer;
}
   

.lado-esquerdo {
    margin: 163px 0 0 0;
    display: inline-block;
    min-width: 280px;
    max-width: 1500px;
}

img {
    max-width: 595.18px;
    height: 500px;
    margin: 0 0 0 125px;
    width:100%;
}

.lado-direito {
    display: inline-block;
    margin: 0 0 0 96px;
    padding: 0;
    min-width: 280px;
    max-width: 1500px;
    width: 20%;
}

h1 {
    width: 583px;
    font-size: 62px;
    font-weight: 700;
    line-height: 82px;
    letter-spacing: 0.596154px;
    color: #161A49;
    margin: 0 0px 47px 0;
}

p {
    width: 493px;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin: 0 0px 55px 0px;
}

.botao-direito {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    background: none;
    border: none;
    cursor: pointer;
}

@media  (max-width: 768px) {
   

    .lado-esquerdo {
        margin-left: 0;
        justify-content: center;
        text-align: center;
    }

    .lado-direito {
        margin-top: 20px;
    }

    img {
        width: 100%;
        max-width: none;
    }
}

@media  (max-width: 600px) {
   

    .lado-esquerdo {
        flex-direction: column;
        align-items: center;
    }

    button {
        margin: 20px;
        font-size: 16px;
    }

    h1 {
        font-size: 1.5em;
        margin: 10px;
    }

    h4 {
        font-size: 16px;
    }
}














    





   
    







